<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="workshopApp">
    <head>
        <title>AngularJS Workshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body style="padding-left: 10px" ng-controller="homeController">
        <div><h1>Lista de Tareas pendientes:</h1></div>
        <br>
        <hr>
        <h2>Agregar una nueva tarea:</h2>
        <form name="taskForm" novalidate>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="name" class="control-label">Nombre: </label>
                        <input id="name" class="form-control" type="text" ng-model="task.name" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="description" class="control-label">Descripci&oacute;n: </label>
                        <textarea id="description" class="form-control" rows="3" ng-model="task.description" required></textarea>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-disabled="taskForm.$invalid" ng-click="createTask()">Agregar</button>

        </form>
        <div class="row">

        </div>
        <br>

        <hr>
        <div class="row">

            <div class="col-lg-5">
                <h2>Tareas Pendientes</h2>
                <div ng-repeat="task in tasks">
                    <h3><b>{{task.name}}</b></h3>
                    
                    <p>{{task.description}}</p>
                    <button type="button" class="btn btn-secondary" ng-click="finishTask(task)">Terminar</button>
                    <hr>
                </div>
            </div>
            
            <div class="col-lg-5">
                <h2>Tareas Terminadas</h2>
                <div ng-repeat="task in finishedTasks">
                    <h3><b>{{task.name}}</b> 
                        <button class="btn btn-xs"><i class="glyphicon glyphicon-pencil"></i></button></h3>
                    
                    <p>{{task.description}}</p>
                    <button type="button" class="btn btn-secondary" ng-click="reopenTask(task)">Reabrir</button>
                    <hr>
                </div>
            </div>

        </div>


        <script src="js/lib/jquery-1.11.1.min.js"></script>
        <script src="js/lib/lodash.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-uuid-service.min.js"></script>
        <script src="js/app.js"></script>
    </body>


</html>
